@import url('boilerplate-start.css');
@import url('vendors.css');

*:focus { outline: none; }

html, body { margin: 0; padding: 0; }
html {
    text-align: left;
}

html, body, #wrapper { height: 100%; }

body{
    font-family: 'Lato', sans-serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}

.button, .submit{
      /***  CSS Gradient  ***/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(110, 169, 84) ),
        color-stop( 0.100, rgb(118, 181, 89) ),
        color-stop( 0.990, rgb(84, 151, 53) ),
        color-stop( 1.0, rgb(81, 149, 51) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(110, 169, 84), 
        rgb(118, 181, 89) 10.0%,
        rgb(84, 151, 53) 99.0%,
        rgb(81, 149, 51) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(110, 169, 84), 
        rgb(118, 181, 89) 10.0%,
        rgb(84, 151, 53) 99.0%,
        rgb(81, 149, 51) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(110, 169, 84), 
        rgb(118, 181, 89) 10.0%,
        rgb(84, 151, 53) 99.0%,
        rgb(81, 149, 51) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(110, 169, 84), 
        rgb(118, 181, 89) 10.0%,
        rgb(84, 151, 53) 99.0%,
        rgb(81, 149, 51) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(110, 169, 84), 
        rgb(118, 181, 89) 10.0%,
        rgb(84, 151, 53) 99.0%,
        rgb(81, 149, 51) );

    background-color: #73af55;
    border: 1px solid #50982c;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    padding: 7px 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .9em;
}

#wrapper{
    background: url('/static/images/bg-texture.png');
}

.inner{
    width: 980px;
    margin: 0 auto;
}

#loader.full {
    z-index: 999999;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    text-align: center;
    display: none;
}
#loader.full .background-color
{
    background: #fff;
    z-index: 100;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.55;
}

#loader.full .load-container {
    z-index: 200;
    position: relative;
    
    width: 150px;
    height: 75px;
    background: #fff;
    margin: 20% auto 0 auto;
    line-height: 70px;
    vertical-align: middle;
    
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#loader.full .load-container img {
    vertical-align: middle;
}

#loader.small {
    float: left;
    position: relative;
    top: -29px;
    left: 245px;
}

header {
    padding: 15px 10px 10px;
    background-color: white;
    background-image: url('/static/images/bg-texture.png');
    color: white;
    height: 54px;
    z-index: 100;
    border-bottom: 2px solid #DEDEDE;
    width: 100%;
    display: inline-block;
    margin-bottom: -6px;
}

header a {
    color: #ccc;
}

#logo { float:left; }

#logo #top-logo{
    margin-top: 8px;
}

#welcome-the-user {
    float: right; margin-right: 25px;
}

#welcome-the-user ul li{
    float: left;
    list-style: none;
    color: #222222;
    margin: 0 20px 0 0;
}

#welcome-the-user ul li a{
    color: #222222;
    text-decoration: underline;
}

#welcome-the-user ul li a:hover{
    text-decoration: none;
}

#welcome-the-user img#bs-logo{
    margin-top: -6px;
}

#navbar{
    z-index: 1;
    position: relative;
    margin-top: -15px;
    background-color: #11a7f6;
  /***  CSS Gradient  ***/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(9, 79, 132) ),
        color-stop( 0.117, rgb(23, 136, 221) ),
        color-stop( 0.229, rgb(23, 146, 241) ),
        color-stop( 0.912, rgb(15, 124, 209) ),
        color-stop( 1.0, rgb(12, 102, 175) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(9, 79, 132), 
        rgb(23, 136, 221) 11.7%,
        rgb(23, 146, 241) 22.9%,
        rgb(15, 124, 209) 91.2%,
        rgb(12, 102, 175) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(9, 79, 132), 
        rgb(23, 136, 221) 11.7%,
        rgb(23, 146, 241) 22.9%,
        rgb(15, 124, 209) 91.2%,
        rgb(12, 102, 175) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(9, 79, 132), 
        rgb(23, 136, 221) 11.7%,
        rgb(23, 146, 241) 22.9%,
        rgb(15, 124, 209) 91.2%,
        rgb(12, 102, 175) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(9, 79, 132), 
        rgb(23, 136, 221) 11.7%,
        rgb(23, 146, 241) 22.9%,
        rgb(15, 124, 209) 91.2%,
        rgb(12, 102, 175) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(9, 79, 132), 
        rgb(23, 136, 221) 11.7%,
        rgb(23, 146, 241) 22.9%,
        rgb(15, 124, 209) 91.2%,
        rgb(12, 102, 175) );
}

#navbar ul {
    text-align: center;
}

#navbar ul li {
    display: inline-block;
    list-style: none;
    width: auto;
}

#navbar ul li a {
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    color: white;
    border-left: 1px solid #0f88c7;
    border-bottom: 1px solid #0f88c7;
    border-right: 1px solid #1f95d3;
    text-shadow: 1px 1px 2px #666;
    -moz-text-shadow: 1px 1px 2px #666;
    -webkit-text-shadow: 1px 1px 2px #666;
}

#navbar ul li a.active, #navbar ul li a:hover{
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom,
        color-stop( 0.0, rgb(4, 30, 65) ),
        color-stop( 0.115, rgb(6, 52, 104) ),
        color-stop( 0.295, rgb(13, 100, 179) ),
        color-stop( 0.912, rgb(18, 133, 222) ),
        color-stop( 1.0, rgb(35, 145, 222) ));

  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top,
        rgb(4, 30, 65), 
        rgb(6, 52, 104) 11.5%,
        rgb(13, 100, 179) 29.5%,
        rgb(18, 133, 222) 91.2%,
        rgb(35, 145, 222) );

  /*  Firefox 3.6+  */
  background-image: -moz-linear-gradient(top,
        rgb(4, 30, 65), 
        rgb(6, 52, 104) 11.5%,
        rgb(13, 100, 179) 29.5%,
        rgb(18, 133, 222) 91.2%,
        rgb(35, 145, 222) );

  /*  IE 10+  */
  background-image: -ms-linear-gradient(top,
        rgb(4, 30, 65), 
        rgb(6, 52, 104) 11.5%,
        rgb(13, 100, 179) 29.5%,
        rgb(18, 133, 222) 91.2%,
        rgb(35, 145, 222) );

  /*  Opera 11.10+  */
  background-image: -o-linear-gradient(top,
        rgb(4, 30, 65), 
        rgb(6, 52, 104) 11.5%,
        rgb(13, 100, 179) 29.5%,
        rgb(18, 133, 222) 91.2%,
        rgb(35, 145, 222) );

  /*  W3C  */
  background-image: linear-gradient(top,
        rgb(4, 30, 65), 
        rgb(6, 52, 104) 11.5%,
        rgb(13, 100, 179) 29.5%,
        rgb(18, 133, 222) 91.2%,
        rgb(35, 145, 222) );
  
    border-left: 1px solid #0081D1;
    border-right: 1px solid #0273B9;
}

#player {
    height: 75px;
    background: #CCC;
    box-shadow: 2px 4px 10px #222;
    -moz-box-shadow: 2px 4px 10px #222222;
    -webkit-box-shadow: 2px 4px 10px #222;
    z-index: 2;
    position: relative;
    border-top: 2px solid #DFDFDF;
}



.table-list table {
    width: 100%;
    text-align: left;
}

.table-list table td {
    border-bottom: 1px solid #ccc;
}

.table-list table td p.title {
    display: inline-block;
    width: 300px;
    
}

.page-edit {
    background: #fff;
    
    border: 1px solid #c9c9c9;
    padding-bottom: 10px;
    
    -moz-border-radius: 3px;
    border-radius: 3px;
    
     min-width: 800px;
     max-width: 1200px;
     display: block;
}

.tabs > ul {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 45px;
    
    border-top: 1px solid #fffeff;
    border-bottom: 1px solid #c7c7c7;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #EAEAEA));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #EAEAEA 100%);
}

.tabs ul li {
    float: left;
    list-style: none;
}

.tabs ul li .anchor {
    padding-top: 10px;
    display: block;
    height: 30px;
    padding: 10px 15px 0;
    margin: 5px 5px 0;    
    cursor: pointer;
    color: #2f2f2f;
    
    position: relative;
}

.tabs span.anchor.active {
    border-top: 3px solid #49515e;
    position: relative;
    padding-bottom: 10px;
    background: #fdfdfd;
    padding-top: 7px;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.tabs .tab {
    padding: 10px 20px 0 20px;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, #fff));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #cccccc 0%, #fff 1%);
}

.tab > div {
    position: relative;
}

.tab .edit-left {
    width: 45%;
    float: left;
}

.tab .edit-right,
.tab .edit-left
{
    padding: 10px 5px;
}

.tab .edit-right {
    width: 50%;
    float: left;
    padding-left: 20px;
    border-left: 1px dashed #cccccc;
}

#theAlphabet li {
    display: inline;
}

.listing {
    
    
    
    
}

.listing .listing-header {
    font-weight: bold;
    border-bottom: 1px solid #999;
}

.listing .listing-header li,
.list-item li {
    display: inline;
    margin: 0 10px 0 0;
    list-style: none;
}

.list-item {
    border-bottom: 1px solid #999;
}

.list-item .search-dropdown {
    
}

.formRow .textInput,
.formRow select
{
    width: 95%;
}

#theAlphabet {
    overflow: hidden;
    text-align: right;
}
#theAlphabet ul {
    text-align: left;
    margin: 0 auto;
    float: right;
}
#theAlphabet ul li a {
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    text-decoration: none;
}
.textInput, textarea {
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #c7c7c7;
    padding: 5px 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font: 14px/1.5 "Trebuchet MS", Helvetica, Arial, Verdana, Sans-Serif;
}


.tab .formRow {
    margin: 5px 20px 10px 20px;
    padding-bottom: 10px;
    min-width: 300px;
    height: 55px;
}

.formRow label,
.form-functional label {
    display: block;
    text-transform: capitalize;
}

.form-item label{
    width: 110px;
    float: left;
    padding-top: 0px;
    line-height: 1.2;
    text-align: right;
    margin-right: 11px;
}

.form-functional {
    padding: 20px 20px;
    text-align: right;
}
.form-functional .edit-comments {
    margin-botton: 10px;
    text-align: left;
    width: 350px;
}

.form-functional .edit-comments textarea {
    width: 350px;
}




.table {}

.table .row {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.table .row li {
    float: left;
    width: 25%;
}

.tab .button {
    width: 200px;
    cursor: pointer;
}

.add-popup {
    display: none;
}

div.like-table{
  float: none;
  display: block;
}

div.like-row, div.like-header{
  display: table-row;
}

div.like-header{
  font-weight: bold;
}

div.like-cell, div.like-header-cell{
  display: table-cell;
  width: 30%;
}

div.like-header.cell{
}

input.containsHint{
  font-style: italic;
  color: gray;
}

div.lightbox-popup{
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  background-color: rgb(255, 165, 0);
}

div.lightbox-confirmdelete{
    border-radius: 10px;
    border: 2px #000 solid;
    background-color: #fff;
    padding: 5px;
}

#reasons-warning{
    background-color: #fff080;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: none;
}

.field-error{
    border: 3px red solid;
    border-radius: 3px;
}

.collapsable-form{
  visibility: collapse;
  display: none;
}



.search-row-details {
    background: #ccc;
    display: none;
}




@import url('boilerplate-end.css');
