@import url('boilerplate-start.css');
@import url('vendors.css');

*:focus { outline: none; }

html, body { margin: 0; padding: 0; }
html {
    text-align: left;
}

html, body, #wrapper { height: 100%; }

#wrapper{
    background: url('/static/images/bg-texture.png');
}

#loader.full {
    z-index: 999999;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    text-align: center;
    display: none;
}
#loader.full .background-color
{
    background: #fff;
    z-index: 100;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.55;
}

#loader.full .load-container {
    z-index: 200;
    position: relative;
    
    width: 150px;
    height: 75px;
    background: #fff;
    margin: 20% auto 0 auto;
    line-height: 70px;
    vertical-align: middle;
    
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#loader.full .load-container img {
    vertical-align: middle;
}

#loader.small {
    float: left;
    position: relative;
    top: -29px;
    left: 245px;
}



header {
    padding: 15px 10px 10px;
    background-color: white;
    background-image: url('/static/images/bg-texture.png');
    color: white;
    height: 54px;
    z-index: 100;
    border-bottom: 2px solid #E3E3E3;
}

header a {
    color: #ccc;
}

#logo { float:left; }
#welcome-the-user { float: right; margin-right: 25px; }

#navbar ul li {
    display: inline-block;
    list-style: none;
    width: auto;
}

#navbar ul {
    padding: 0px;
}

#navbar ul li a {
    display: block;
    padding: 5px 10px;
}

#player {
    height: 75px;
    background: #ccc;
}



.table-list table {
    width: 100%;
    text-align: left;
}

.table-list table td {
    border-bottom: 1px solid #ccc;
}

.table-list table td p.title {
    display: inline-block;
    width: 300px;
    
}

.page-edit {
    background: #fff;
    
    border: 1px solid #c9c9c9;
    padding-bottom: 10px;
    
    -moz-border-radius: 3px;
    border-radius: 3px;
    
     min-width: 800px;
     max-width: 1200px;
     display: block;
}

.tabs > ul {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 45px;
    
    border-top: 1px solid #fffeff;
    border-bottom: 1px solid #c7c7c7;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F5F5F5), color-stop(1, #EAEAEA));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #F5F5F5 0%, #EAEAEA 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #F5F5F5 0%, #EAEAEA 100%);
}

.tabs ul li {
    float: left;
    list-style: none;
}

.tabs ul li .anchor {
    padding-top: 10px;
    display: block;
    height: 30px;
    padding: 10px 15px 0;
    margin: 5px 5px 0;    
    cursor: pointer;
    color: #2f2f2f;
    
    position: relative;
}

.tabs span.anchor.active {
    border-top: 3px solid #49515e;
    position: relative;
    padding-bottom: 10px;
    background: #fdfdfd;
    padding-top: 7px;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.tabs .tab {
    padding: 10px 20px 0 20px;
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cccccc), color-stop(1, #fff));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #cccccc 0%, #fff 1%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #cccccc 0%, #fff 1%);
}

.tab > div {
    position: relative;
}

.tab .edit-left {
    width: 45%;
    float: left;
}

.tab .edit-right,
.tab .edit-left
{
    padding: 10px 5px;
}

.tab .edit-right {
    width: 50%;
    float: left;
    padding-left: 20px;
    border-left: 1px dashed #cccccc;
}

#theAlphabet li {
    display: inline;
}

.listing {
    
    
    
    
}

.listing .listing-header {
    font-weight: bold;
    border-bottom: 1px solid #999;
}

.listing .listing-header li,
.list-item li {
    display: inline;
    margin: 0 10px 0 0;
    list-style: none;
}

.list-item {
    border-bottom: 1px solid #999;
}

.list-item .search-dropdown {
    
}

.formRow .textInput,
.formRow select
{
    width: 95%;
}

#theAlphabet {
    overflow: hidden;
    text-align: right;
}
#theAlphabet ul {
    text-align: left;
    margin: 0 auto;
    float: right;
}
#theAlphabet ul li a {
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    text-decoration: none;
}
.textInput, textarea {
    border-top: 1px solid #c7c7c7;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #c7c7c7;
    padding: 5px 10px;
    font: 14px/1.5 "Trebuchet MS", Helvetica, Arial, Verdana, Sans-Serif;
}


.tab .formRow {
    margin: 5px 20px 10px 20px;
    padding-bottom: 10px;
    min-width: 300px;
    height: 55px;
}

.formRow label,
.form-functional label {
    display: block;
    text-transform: capitalize;
}

.form-functional {
    padding: 20px 20px;
    text-align: right;
}
.form-functional .edit-comments {
    margin-botton: 10px;
    text-align: left;
    width: 350px;
}

.form-functional .edit-comments textarea {
    width: 350px;
}




.table {}

.table .row {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.table .row li {
    float: left;
    width: 25%;
}

.tab .button {
    width: 200px;
    cursor: pointer;
}

.add-popup {
    display: none;
}

div.like-table{
  float: none;
  display: block;
}

div.like-row, div.like-header{
  display: table-row;
}

div.like-header{
  font-weight: bold;
}

div.like-cell, div.like-header-cell{
  display: table-cell;
  width: 30%;
}

div.like-header.cell{
}

input.containsHint{
  font-style: italic;
  color: gray;
}

div.lightbox-popup{
  border-radius: 10px;
  padding: 2px 10px 2px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  background-color: rgb(255, 165, 0);
}

div.lightbox-confirmdelete{
    border-radius: 10px;
    border: 2px #000 solid;
    background-color: #fff;
    padding: 5px;
}

#reasons-warning{
    background-color: #fff080;
    border: 3px solid orange;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    display: none;
}

.field-error{
    border: 3px red solid;
    border-radius: 3px;
}

.collapsable-form{
  visibility: collapse;
  display: none;
}



.search-row-details {
    background: #ccc;
    display: none;
}




@import url('boilerplate-end.css');
